:root {
    --padding-container: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify_between {
    justify-content: space-between;
}

header {
    background-color: #add8e6;
    min-height: 80px;
    padding: var(--padding-container);   
}

header>div {
    background-color: #daa520;
    padding: 10px;    
    border: 1px dashed black;
}

.back_central_container {
    background-color: #00008b;
    padding: var(--padding-container);   
}
.central_container {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #ee82ee;
    border: 1px dashed black;
}

/* images and text */
.backg_white {
    background-color: white;
    padding: var(--padding-container); 
}

.photo {
    width: 70%;
    height: 400px;
    background-color: #1e90ff;
    border: 1px dashed black;
}

.text {
    width: 30%;
    height: 400px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.backg_grey {
    background-color: #d3d3d3;
    padding: var(--padding-container); 
}

/* big_block */
.big_block {
    height: 700px;
    background-color: #228b22;
    border: 1px dashed black;
}

/* Contacts */
.backg_darkgrey {
    background-color: #23272a;
    padding: var(--padding-container);
}

.f_card {
    width: 25%;
    height: 400px;
    background-color: #f08080;
    border: 1px dashed black;
}

.s_card {
    width: 75%;
    height: 400px;
    background-color: #20b2aa;
}

.sub_card {
    width: 25%;
    height: 400px;
    border: 1px dashed black;
}

.border_line {
    border-bottom: 1px solid #d6d7d7;
}

/* footer */
footer>div {
    background-color: #7fffd4;
    padding: 10px;    
}

footer {
    min-height: 80px;
}